{% extends 'layout.html' %}

{% block head %}
<script src="../static/js/cities.js"></script>
{% endblock %}

{% block content %}
<div class="container login-container">
    <div>
        <div class="login-form-2 text-center">
            <h3>Patient Registration</h3>
            <form name="patient" method="POST" action={{url_for('create_patient')}} id="form1" novalidate>
                {{ form.hidden_tag()}}
                
                <div class="form-group">
                  
                    {{ form.ssn_id(class_="form-control",placeholder="Patient ssn id") }}
                </div>
                <div class="form-group">
                   
                    {{form.patient_name(class_="form-control",placeholder="patient name")}}
                </div>
                <div class="form-group">
                    
                    {{form.patient_age(class_="form-control",placeholder="Age")}}
                </div>
                <div class="form-group">
                    
                    {{form.date(class_="form-control",placeholder="Date of admission")}}
                </div>
                
                <div class="form-group">
                    
                    {{form.Type_of_bed(class_="form-control",placeholder="type of bed")}}
                </div>
                <div class="form-group">
                    <select onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control"></select>                   
                </div>
                <div class="form-group">
                    <select id ="state" class="form-control">
                        <option value="">Select city</option>
                    </select>                    
                </div>
                <div class="form-group">
                     
                    {{form.submit(class_="btnSubmit",placeholder="Create")}}
                                     
                </div>
                <div class="form-group ">
                    <input class="btnSubmit text-center" value="Reset" onclick="Reset()"/>                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function Reset() {
      document.getElementById("form1").reset();
    }
</script>
<script language="javascript">print_state("sts");</script>
{% endblock %}