{% extends 'layout.html' %}

{% block head %}
<script src="../static/js/cities.js"></script>
{% endblock %}

{% block content %}
{% if form %}
<div class="container login-container">
    <div>
        <div class="login-form-2 text-center">
            <h4>Get Patient Medications</h4>
            <form name="patient" method="POST" action="{{url_for('get_patient')}}" id="form1" novalidate style="padding-top: 5px;">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{form.patient_id(class_="form-control",placeholder="PATIENT ID")}}
                    {% for err in form.patient_id.errors %}
                    <span style="color: red;">[{{ err }}]</span>
                     {% endfor %}
                </div>
                <div class="form-group ">
                      
                    {{form.submit(class_='btnSubmit text-center')}}                 
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% if patient %}
<h3 class="text-center">Patient Details</h3>
<table class="table table-hover table-bordered results table-striped text-center" style="border-color: var(--dark)">
    <thead>
      <tr>
        <th>Patient ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>DOJ</th>
        <th>Room Type</th>
      </tr>
      <tr class="warning no-result">
        <td colspan="6"><i class="fa fa-warning"></i> No result</td>
      </tr>
    </thead>
    <tbody>
      {% for p in patient %}
      <tr>
        <th scope="row">{{p.id}}</th>
        <td>{{p.name}}</td>
        <td>{{p.age}}</td>
        <td>{{p.address}}, {{p.city}}, {{p.state}}</td>
        <td>{{p.admission_date}}</td>
        <td>{{p.bed_type}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<!--Medicine Table-->

{% if not medicine %}
<h3 class="text-center">No Medicines Issued!</h3>
{% endif %}
{% if medicine %}

  <table class="table table-hover table-bordered results table-striped text-center" style="border-color: var(--dark)">
    <thead>
      <tr>
        <th>Medicine ID</th>
        <th>Medicine</th>
        <th>Quantity Issued</th>
        <th>Rate of Medicine</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for m in medicine %}
      
      <tr>
        <th scope="row">{{m.medicine_id}}</th>
        <td>{{m.medicine.medicine_name}}</td>
        <td>{{m.medicine_quantity}}</td>
        <td>{{m.medicine.medicine_amount}}</td>
        <td>{{m.medicine.medicine_amount*m.medicine_quantity}}</td>
      </tr>
    
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <div class="text-center" >
    <form class="text-center" method="POST" action="{{url_for('issue_medicine')}}">
        <input name="pid" type="number" hidden value="{{patient[0].id}}"/>
        <br/>
         <div class="form-group text-center" >
             <input type="submit" class="btnSubmit" value="💊 Issue Medicine 💉" style="color: var(--light); border-radius:2px; background-color: var(--origin); width: 200px; padding: 10px;"/>               
         </div>
     </form> 
 </div>
{% endif %}
{% endblock %}
