{% extends 'layout.html' %}

{% block content %}
<div class="container login-container">
    <div class="row">
        <div class="login-form-2 text-center">
            <h3>Login</h3>
            <form method="POST" action="/" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                   {{form.username(class_="form-control",placeholder="login id")}} 
                </div>
                <div class="form-group">
                  {{form.password(class_="form-control",placeholder='password')}} 
                </div>
                <div class="form-group">
                   {{ form.submit(class_="btnSubmit") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}